
<div class="row">
  <div class="span8">
    <%= render partial: 'votes/voter', locals: { topic: @topic, post: @post } %>
    <h1><%= markdown @post.title %></h1>
    
      <%= image_tag(@post.user.avatar.tiny.url) if @post.user.avatar? %>
      submitted <%= time_ago_in_words(@post.created_at) %> ago by 
      <%= @post.user.name %>
   
    <p><%= markdown @post.body %></p>
    <p><%= image_tag(@post.image.url) if @post.image? %></p>
    
    <%= puts "VIEW CHECK 1: @comments = #{@comments.inspect}".html_safe %> 

    <%= render partial: 'comment', collection: @comments %>
 
  </div>
  <div class="span4">
    <% if can? :edit, @post %>
      <%= link_to "Edit", edit_topic_post_path(@topic,@post), class: 'btn btn-large btn-block' %>
    <% end %>
    <% if can? :destroy, @post %>
      <%= link_to "Delete Post", [@topic, @post], method: :delete, class: 'btn btn-large btn-block btn-danger', confirm: 'Are you sure you want to delete this post?' %>
    <% end %> 
    <div>
      <h3><%= pluralize(@post.points, 'point') %></h3>
      <small>
        <%= pluralize(@post.up_votes, 'up vote') %>, 
        <%= pluralize(@post.down_votes, 'down vote') %>
      </small>
    </div>
    <%= puts "VIEW CHECK 2: @post = #{@post.inspect}".html_safe %> 
    <%= render partial: 'favorites/favorite', locals: { topic: @topic, post: @post } %>
    <br/>
    <% if can? :create, @post %>
      <%= render partial: 'form', locals: { topic: @topic, post: @post } %>
    <% end %>
  </div>

</div>

<% if can? :create, @comment %>
  <%= render partial: 'comments/new', locals: { topic: @topic, post: @post, comment: @comment } %>
<% end %>