<h1><%= markdown @post.title %></h1>

<div class="row">
  <div class="span8">
    
      <%= image_tag(@post.user.avatar.tiny.url) if @post.user.avatar? %>
      submitted <%= time_ago_in_words(@post.created_at) %> ago by 
      <%= @post.user.name %>
   
    <p><%= markdown @post.body %></p>
    <p><%= image_tag(@post.image.url) if @post.image? %></p>
    
    <%= puts "VIEW CHECK 1: @comments = #{@comments.inspect}".html_safe %>
    <%= render partial: 'comment', collection: @comments %>
    <%#= render(partial: 'comments', locals: { comments: @comments) } %>
  </div>
  <div class="span4">
    <% if can? :edit, @post %>
      <%= link_to "Edit", edit_topic_post_path(@topic,@post), class: 'btn btn-large btn-block' %>
    <% end %>
    <br/>
    <%= render partial: 'form', locals: { topic: @topic, post: @post } %>
  </div>

</div>


<%= render partial: 'comments/new', locals: { topic: @topic, post: @post, comment: @comment } %>
<!-- def render(opts={})
  opts[:partial] == 'comments'
  view = find_view_on_disk(opts[:partial])
end

foo(bar:2, baz: 3, foo: 4) -->